@tailwind base;
@tailwind components;
@tailwind utilities;


/* สำหรับเบราว์เซอร์ Webkit (เช่น Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* สำหรับ Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* @media (max-width: 960px) {
    .v-main{
        padding-top: 0px;
    }
} */
   
